<%= form_with model: @book do |f| %>
<div class = "show-content">
  <h4>Title:</h4>
    <p><%= @book.title %></p>
</div>

<div class = "show-content">
  <h4>Body:</h4>
    <p><%= @book.body %></p>
 </div>
    
  
        <p>
          <a><%= link_to "Edit", edit_book_path(@book.id) %></a>
        <span>|</span>
        <a><%= link_to "Back", :back %></a>
        </p>
  
<% end %>